.user-profile {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  gap: 50px;
  /* background-color: aqua; */
}

.user-profile h1 {
  margin: 0 0 10px 0;
}

.user-profile img {
  border-radius: 50%;
  max-width: 250px;
  width: 50%;
  align-self: flex-start;
  aspect-ratio: 1/1;
}

.user-info {
  color: rgb(117, 117, 117);
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-info div {
  min-width: fit-content;
  width: 45%;
}

.user-info span {
  display: block;
  margin-bottom: 10px;
}

.btn {
  color: white;
  background-color: #50b942;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.02);
}

.title {
  margin: 20px 0;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.playlist-container div {
  width: 150px;
  align-self: flex-start;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px;
  text-align: center;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  opacity: 0.95;
}

.playlist-container div:hover {
  transform: scale(1.05);
  opacity: 1;
}

.playlist-container div h5 {
  margin: 0;
  white-space: nowrap;
  font-size: 18px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist-container div span {
  color: rgb(150, 150, 150);
}

.playlist-container div img {
  width: 100%;
  border-radius: 3px;
}
